Source: camlistore
Section: unknown
Priority: extra
Maintainer: Martin Atkins <mart@degeneration.co.uk>
Build-Depends: golang
Standards-Version: 3.9.2
Homepage: http://camlistore.org/
Vcs-Git: http://github.com/apparentlymart/camlistore-debian.git

Package: camlistore
Architecture: any
Description: Your personal storage system for life.
